.main {
    padding: 0 30vw;
}

.main__text {
    font-size: large;
}

@media screen and (max-width: 1024px) {
    .main {
        padding: 0 30vw;
    }
}

@media screen and (max-width: 767px) {
    .main {
        padding: 0 20vw;
    }
}

@media screen and (max-width: 424px) {
    .main {
        padding: 0 50px;
        margin: 0 auto;
    }
}
