.footer {
    margin-top: 30px;
    max-width: 880px;
    padding: 0 30vw
}

@media screen and (max-width: 767px) {
    .footer {
        padding: 0 20vw;
    }
}

@media screen and (max-width: 424px) {
    .footer {
        max-width: 282px;
        padding: 0 20vw
    }
}

.footer__copyright {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
    margin: 0;
}

@media screen and (max-width: 424px) {
    .footer__copyright {
        font-size: 14px;
        line-height: 17px;

    }
}